<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />

<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta property="og:type" content="website" />

<title><%= metaInfo.title %></title>

<link rel="manifest" href="<%= base %>/assets/manifest.json" />

<link href="<%= base %>" rel="preconnect" crossorigin />

<link rel="shortcut icon" href="<%= base %>/assets/images/favicons/favicon.ico" />
<link rel="icon" href="<%= base %>/assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/x-icon" href="<%= base %>/assets/images/favicons/favicon.ico" />

<meta name="apple-mobile-web-app-title" content="<%= metaInfo.title %>" />

<link rel="canonical" href="<%= base %>/" />

<meta name="author" content="alanmorel" />
<meta name="description" content="<%= metaInfo.description %>" />
<meta name="application-name" content="alanmorel" />
<meta name="theme-color" content="#000000" />

<meta property="og:title" content="<%= metaInfo.title %>" />
<meta property="og:description" content="<%= metaInfo.description %>" />
<meta property="og:url" content="<%= base %>/" />
<meta property="og:image" content="<%= base %>/assets/images/pic.png" />
<meta property="og:site_name" content="alanmorel" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= metaInfo.title %>" />
<meta name="twitter:description" content="<%= metaInfo.description %>" />
<meta name="twitter:image" content="<%= base %>/assets/images/pic.png" />
<meta name="twitter:site" content="@<%= metaInfo.twitter %>" />
<meta name="twitter:creator" content="@<%= metaInfo.twitter %>" />
