<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />

<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta property="og:type" content="website" />

<title><%= title %></title>

<link rel="manifest" href="/assets/manifest.json" />

<link href="<%= base %>" rel="preconnect" crossorigin />

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png" />

<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-128.png" sizes="128x128" />

<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/assets/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/assets/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/assets/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/assets/images/favicons/mstile-310x310.png" />

<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" />
<link rel="icon" href="/assets/images/favicons/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico" />

<meta name="apple-mobile-web-app-title" content="<%= title %>" />

<link rel="canonical" href="<%= base %>/" />

<meta name="author" content="<%= slug %>" />
<meta name="description" content="<%= description %>" />
<meta name="application-name" content="<%= slug %>" />
<meta name="theme-color" content="#000000" />

<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:url" content="<%= base %>/" />
<meta property="og:image" content="/assets/images/meta-image.png" />
<meta property="og:site_name" content="<%= slug %>" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="<%= title %>" />
<meta name="twitter:description" content="<%= description %>" />
<meta name="twitter:image" content="/assets/images/meta-image.png" />
<meta name="twitter:site" content="@<%= twitter %>" />
<meta name="twitter:creator" content="@<%= twitter %>" />
