<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs"); %> <% if (app.prod) { %>
        <style>
            <%- include(app.root + "/dist/production/css/index.css"); %>
        </style>
        <% } %>
    </head>
    <body>
        <div id="app"></div>
        <script type="application/json" id="data">
            <%- include(app.root + "/server/data.json"); %>
        </script>
        <script>
            const data = JSON.parse(document.querySelector("#data").textContent);
        </script>

        <script src="<%= base %>/dist/chunk-vendors.js?v=<%= app.version %>"></script>
        <script src="<%= base %>/dist/index.js?v=<%= app.version %>"></script>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "AlanMorel",
                "url": "<%= base %>"
            }
        </script>
    </body>
</html>
