<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs"); %> <% if (env === "production") { %>
        <style>
            <%- include(root + "/dist/production/css/index.css"); %>
        </style>
        <% } %>
    </head>
    <body>
        <div id="app"></div>
        <script type="application/json" id="data">
            <%- include(root + "/server/data.json"); %>
        </script>
        <script>
            const data = JSON.parse(document.querySelector("#data").textContent);
        </script>

        <script src="<%= base %>/dist/chunk-vendors.<%= version %>.js"></script>
        <script src="<%= base %>/dist/index.<%= version %>.js"></script>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebSite",
                "name": "AlanMorel",
                "url": "<%= base %>"
            }
        </script>
        <%- "<!--" %>
            <%= (new Date() - now) + " milliseconds" %>
            <%= new Date() %>
        <%- "-->" %>
    </body>
</html>
